doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        //- meta(name="description" content="photo album")
        //- meta(name="keywords" content="photo album")
        //- meta(name="author", content="loftschool student team")

        block title
            title photo album
        
        //- link(href="/favicon.ico" rel="shortcut icon" type="image/x-icon")
        //- link(href="/favicon.ico" rel="icon" type="image/x-icon")
        //- link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        //- link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
        //- link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")

        link(rel="stylesheet" href="./assets/css/foundation.css")
        link(rel="stylesheet" href="./assets/css/main.css")
body
    include common/mixins
    
    block variables

    block content
    
    .overlay.hide
        
        include blocks/forms/edit-header

    script(src="./assets/js/foundation.js")
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="./assets/js/app.js")