form.popup--add-photo.hide
  .popup_header.container
    h3 Добавить фотографию
    +button('btn close-btn', 'Закрыть','assets/img/sprite.svg#close')
  .container
    .popup_content

      
      

  .popup_footer.container.clearfix
    +button('btn btn--colored save-btn','Сохранить', '')
    +button('btn btn--transparent reset-btn','Отменить', '')
    +button('btn btn--delete delete-btn','Удалить','assets/img/sprite.svg#delete')