form.popup--edit-album.hide
  .popup_header.container
    h3 Редактировать альбом
    +button('btn close-btn', 'Закрыть','assets/img/sprite.svg#close')
  .container
    .popup_content

      .popup_item
        label Название
        +input('input','text','album_name','album_name','Название альбома','','')
    
      .popup_item 
        label Описание
        +input('textarea','text','album_text','album_text','Описание альбома','','')
      
      
    span.error
    span.success

    .popup_content
      .italic 
        i (файл должен быть размером не более 1024КБ) 
      +button('btn btn--bordered add-btn','Загрузить обложку','')
      

  .popup_footer.container.clearfix
    +button('btn btn--colored save-btn','Сохранить', '')
    +button('btn btn--transparent reset-btn','Отменить', '')
    +button('btn btn--delete delete-btn','Удалить','assets/img/sprite.svg#delete')
