.editHeader-form
  .editHeader_content.container
    .user_pic
      button.btn.btn--upload
        svg.btn_icon
          use(xlink:href="assets/img/sprite.svg#cam")
        | Изменить фото
      img(src="")

    .form_content
      .form_item
        +input('input','text','album_name','album_name','Заголовок альбома','','')
      .form_item

        if title=='main'
          +input('textarea','text','user_text','user_text','О себе','','')

        if title=='Album'
          +input('textarea','text','album_text','album_text','Описание альбома','','')

      if title == 'main'   
        .socials
          ul(class="socials_list")
            +icon("socials","vk", "vkontakte", "assets/img/sprite.svg#soc_vk")
            +icon("socials","facebook", "facebook", "assets/img/sprite.svg#soc_fb")
            +icon("socials","twitter", "twitter", "assets/img/sprite.svg#soc_twitter")
            +icon("socials","google", "google", "assets/img/sprite.svg#social_google")
            +icon("socials","email", "email", "assets/img/sprite.svg#soc_email")

          .popup--edit-socials.popup
            .form_item
              +input('input','text','','','ссылка','','')
            .form_footer
              +button('btn btn--bordered save-btn','Сохранить','')
              +button('btn btn--transparent reset-btn','Отменить', '')
            

    
    button.btn.btn--upload
      svg.btn_icon
          use(xlink:href="assets/img/sprite.svg#cam")
      | Изменить фон

  .form_footer.container
    +button('btn btn--transparent reset-btn','Отменить', '')
    +button('btn btn--colored save','Сохранить', '')
