//- форма входа

.authWrapper.get-login.hide
  .authHeader

    h2 Добро пожаловать
    p
      | Перед вами сервис, который поможет вам организовывать
      | свои фотографии в альбомы и поделиться со всем миром!
  
  form.auth-form
    .form_item
      +input('input','email','email','email','Электронная почта','','assets/img/sprite.svg#envelope')
    .form_item
      +input('input','password','password','password','Пароль','','assets/img/sprite.svg#password')
   

    .form_content.container
      p
       span.do-resetPassword
          | Забыли пароль?

      span.error
      span.success
     

      button.btn.btn--colored(type="submit" name="login")
       | Войти

      p
        | Нет аккаунта?
        span.do-enter
          | Зарегистрироваться
