.authWrapper.get-register
  .authHeader

    h2 Регистрация
  
  form.auth-form
    .form_item
      +input('input','text','name','name','Имя','','assets/img/sprite.svg#name')
    .form_item
      +input('input','email','email','email','Электронная почта','','assets/img/sprite.svg#envelope')
    .form_item
      +input('input','password','password','password','Пароль','','assets/img/sprite.svg#password')

    .form_content.container
      p
       |Ваши данные останутся строго конфиденциальны

      button.btn.btn--colored(type="submit" name="register")
       | Создать аккаунт

      p
        | Уже зарегистрированы?
        span.do-enter
          | Войти
