//- форма восстановления пароля

.authWrapper.authWrapper_resetPassword.hide
  .authHeader

    h2 Восстановление пароля
  
  form.auth-form
    
    - var form=[ {type: "email", id: "email", name: "email", placeholder: "Электронная почта", icon: "assets/img/sprite.svg#envelope"}]

    .formContent

      p
        b
          | Забыли пароль?
      p
        | Ничего страшного, введите свой e-mail и
        | мы вышлем вам инструкции по восстановлнию пароля

    +form

    .formContent
      
      button.btn.btn--colored(type="submit" name="reset")
       | Восстановить пароль

      p
        | Вспомнили пароль?
        span.do-enter
          | Войти