//- форма восстановления пароля

.authWrapper.get-resetPassword.hide
  .authHeader

    h2 Восстановление пароля
  
  form.auth-form
    

    .form_content.container

      p
        b
          | Забыли пароль?
      p
        | Ничего страшного, введите свой e-mail и
        | мы вышлем вам инструкции по восстановлнию пароля
    .form_item
      +input('input','email','email','email','Электронная почта','','assets/img/sprite.svg#envelope')

    .form_content.container
      
      button.btn.btn--colored(type="submit" name="reset")
       | Восстановить пароль

      p
        | Вспомнили пароль?
        span.do-enter
          | Войти