.header
  width: 100%
  min-height: 300px
  padding-top: 20px
  background-color: $much-light
  background-image: url("../img/main-bg2000.jpg")
  background-size:  150% auto
  background-position: 50% 50%
  background-repeat: no-repeat
  // +w1300
  //   background-image: url("../img/main-bg2000.jpg")

  &_bottom
    +size(100% 60px)
    background-color: rgba(241, 241, 241, .9)
    z-index: 5
    display: flex
    align-items: center

  &_content
    position: relative
    padding-bottom: 20px  
    width: 100%
    height: 220px
    display: flex
    align-items: center

// main-page, user-page

.actionBtns
  &_list
    position: absolute
    top: 0
    right: 0
    display: flex
    width: 100%
    flex-direction: row-reverse
    justify-content: space-between
    z-index: 2
    +w768
      max-width: 250px
      flex-direction: column
      align-items: flex-end
      justify-content: flex-start
  &_item
    margin-bottom: 10px


// album-page

.header_content--album
  position: relative
  min-height: 220px

  .actionBtns_list
    max-width: 250px
    flex-direction: column
    align-items: flex-end

  .description
    max-width: 980px
    margin: 0 auto
    text-align: center
    color: #fff
    +w768
      &_title
        font: 21px/24px $proximaemibold
      &_text
        color: rgba(255,255,255,.8)

    +w480
      width: 80%

.header_bottom
  .panel_link
    .btn_icon
      fill: #000
      +w768
        display: none
    +w768
      padding-left: 0

  span
    margin-left: 5px
    font-size: 0
    +w768
      font-size: 16px

.header_bottom--search,
.header_bottom--fixed
  +size(100% 60px)
  display: flex
  align-items: center
  .infoBlock_content
    display: none
    color: $dark-gray
    +w768
      display: flex


.header_bottom--fixed
  display: none
  justify-content: space-between
  .fixedItem
    +w768
      width: 30%
  
  .description_title
    color: $dark-gray
    text-align: center
  .btn--slidered
    float: right

.header_bottom--search
  justify-content: space-around
  +w768
     justify-content: space-between

  .search-new
    margin-left: 5px
    color: $blue
    font: 16px/21px $proximaemibold

  .fixedItem:nth-child(1)
    display: none
    +w768
      display: block


   


  
