[class*=popup--]
  border-radius: 3px
  overflow: hidden
  +size(300px auto)
  transform: translateX(-50%)
  background-color: #FFF
  +w768
    width: 600px
    
    
  input,textarea
    max-width: 450px
    border-radius: 20px
    padding: 10px 10px 10px 20px
    border: 1px solid $light-gray
    &:focus
      border: 1px solid $blue
  label
    margin-right: 20px
  
  .delete-btn
    float: right

  .save-btn,
  .reset-btn
    float: left
    
  .close-btn
    font-size: 0
    +size(21px)
    &:hover
      .btn_icon
        fill: $gray
  .add-btn
    display: inline-block

  .italic
    width: 250px
    display: none
    +w768
      display: block

.popup
  &_item
    width: 100%
    // max-width: 500px
    text-align: left
    margin-bottom: 10px
    display: flex
    flex-direction: column
    +w768
      align-items: center
      flex-direction: row
      justify-content: flex-end

  &_content
    width: 100%
    position: relative
    padding: 15px 0
    background-color: #FFF
    display: flex
    flex-direction: column
    align-items: center
    +w768
      align-items: flex-end


  &_footer
    +size(100% 70px)
    background-color: $much-light
    padding-top: 15px

  &_header
    +size(100% 70px)
    background-color: $much-light
    display: flex
    align-items: center
    justify-content: space-between
      
  

// notice-----------------
.popup--notice
  width: 280px
  .close-btn
    background-color: transparent
    margin: 0 auto

 

// edit-socials-----------------
.popup--edit-socials
  +size(280px 110px)
  position: absolute
  padding: 10px
  background-color: #FFF
  bottom: -120px
  left: 60px
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15)
  z-index: 5

  .form_footer
    justify-content: flex-start !important
    height: auto

.edit-header-form
  margin: 0 auto
  width: 100%


// add-album------------------
.popup--add-album,
.popup--edit-album,
.popup--edit-photo,
.popup--add-photo
  position: fixed
  top: 50px
  left: 50%
  .popup
    &_content:last-child

      +w768
        flex-direction: row
        justify-content: flex-end