if title!='Регистрация'

  footer.footer
    .container

      +button('arrow', 'Наверх','','assets/img/sprite.svg#top')
      .footer_content
        .footer_item
          p
            | Перед вами сервис, который поможет вам организовать свои
            | фотографии в альбом и поделиться ими со всем миром!
        .footer_item   
          p
            | 2016 | Создано Ungers на продвинутом курсе по веб-разработке от LoftSchool
else
  footer.footer.footer_auth
    .container
      .footer_item   
        p
          | 2016 | Создано Ungers на продвинутом курсе по веб-разработке от LoftSchool
