mixin actionBtns_list
  if title!='Search'
    ul.actionBtns_list
      if title=='main'
        li.actionBtns_item
          +button("btn--slidered EditHeaderBtn","Редактировать","","assets/img/sprite.svg#edit")
        li.actionBtns_item    
          +button("btn--slidered","Выйти","","assets/img/sprite.svg#off")
      if title=='User'
        li.actionBtns_item    
          +button("btn--slidered","На главную", "main.html","assets/img/sprite.svg#home")
      if title=='Album'
        li.actionBtns_item    
          +button("btn--slidered","На главную", "main.html","assets/img/sprite.svg#home")
        li.actionBtns_item
          +button("btn--slidered toggleEditHeader","Редактировать","#","assets/img/sprite.svg#edit")

  
header.header#header
  //- main-page, user-page
  if title =='main' || title == 'User'
    .container
      .header_content
        +actionBtns_list

        .userBlock
          .userBlock_pic
            img
          .userBlock_info
            h3 Имя Фамилия
            .about
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

            .socials
              +socials

    .header_bottom
      .container
        form.search-form
          .form_item
            input(name="search" type="text" placeholder="Исследовать мир" id="search")
            label(for="search")
              svg.form_icon
                use(xlink:href="assets/img/sprite.svg#loupe")

  //- Album-page

  if title=='Album'
    .container
      .header_content--album
        +actionBtns_list
      
        .userBlock--min
          +actionBtns_list
          .userBlock_pic
            img
          .userBlock_info
            h4 Имя Фамилия

        .description
          h3.description_title Заголовок альбома
          p.description_text
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            |  Corrupti quos cum esse nostrum id minus laudantium sint error. 
            | Voluptatem aliquid suscipit molestiae eius tempora non illo dolore dolorem nam recusandae.20
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 


    .header_bottom
      .container
        -var albumPanel_list=[{'href':'','text':'Фотографий', 'count': '0','icon':'assets/img/sprite.svg#cam'},{'href':'','text': 'Лайков', 'count': '0','icon':'assets/img/sprite.svg#like'}, {'href':'','text': 'Комментариев','count': '0','icon':'assets/img/sprite.svg#comments'}]
        .albumPanel
          ul.albumPanel_list
            each item in albumPanel_list
              li.albumPanel_item
                a(href=item.href).albumPanel_link=item.count
                  span=item.text
                  svg.albumPanel_icon
                    use(xlink:href=item.icon)

        .header_bottom--fixed

          .fixedItem
            .userBlock--min
              .userBlock_pic
                img
              .userBlock_info
                h4 Имя Фамилия

          .fixedItem 
            h3.description_title Заголовок альбома

          .fixedItem 
            +button("btn btn--slidered","На главную", "#","assets/img/sprite.svg#home")
       


  
