extends ../_template

block title
	title Альбом

block variables
	- var title ='Album'
	- var main_title =''
  

block content
	.wrapper
		include ../blocks/header

		main.main
			.container
				.content_wrap
					h2.main_title 
						| #{main_title}
					.main_content
						include ../blocks/content/album-content
		
		include ../blocks/footer
