extends ../_template

block title
	title Альбом

block variables
	- var title ='Album'
  

block content
	.wrapper
		include ../blocks/header
		include ../blocks/main-content
		include ../blocks/footer
