extends ../_template

block content
  .itemWrapper(style=" margin-top: 20px; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start").container
    
    //- main-page -----------------------------
    article.item.item--main
      .item_photo
        +link('item_overlay','','#','assets/img/sprite.svg#loupe')
        img
          
      .item_header.container
        .infoBlock--min
          .user_pic
            img
          .infoBlock_content 
            span.photo_title Название фотографии

            -var panel_list=[{'text': 'Комментариев','count': '0','icon':'assets/img/sprite.svg#comments'},{'text': 'Лайков', 'count': '0','icon':'assets/img/sprite.svg#like'}]
            .panel
              ul.panel_list
                each item in panel_list
                  li.panel_item
                    +button('panel_link',item.count, item.icon)
            
      .item_footer.container
        +link('btn item_title','Заголовок альбома','album.html','assets/img/sprite.svg#album')
    


    //- album-page--------------------------------------------
    article.item.item--album
      .item_photo
        +link('item_overlay','','#','assets/img/sprite.svg#loupe')

        -var panel_list=[{'text': 'Комментариев','count': '0','icon':'assets/img/sprite.svg#comments'},{'text': 'Лайков', 'count': '0','icon':'assets/img/sprite.svg#like'}]
        .panel
          ul.panel_list
            each item in panel_list
              li.panel_item
                +button('panel_link', item.count, item.icon)

        img
      .item_footer.container
        +button('btn','Редактировать','assets/img/sprite.svg#edit')
        span.photo_title Заголовок фотографии
    

    //- user-page
    article.item.item--user
      .item_photo
       

        img
      .item_footer.container
        +button('btn','Редактировать','assets/img/sprite.svg#edit')
        span.item_title Заголовок альбома