extends ../_template

block title
  title Главная страница

block variables
  - var title = 'main'
  - var main_title = ['Новое в мире','Мои альбомы']
 

block content
  .wrapper
    include ../blocks/header
    include ../blocks/content
    include ../blocks/footer

    .overlay.popup.hide
      include ../blocks/popups/edit-header
      
    .overlay--dark.hide.popup
      include ../blocks/popups/add-album
      //- include ../blocks/popups/edit-profile

