extends ../_template

block title
  title Главная страница

block variables
  - var title = 'main'
  - var main_title = ['Новое в мире','Мои альбомы']
 

block content
  .wrapper
    include ../blocks/header
    //- include ../blocks/content

    main.main
      .container
        .content_wrap
          h2.main_title 
            | #{main_title[0]}
          .main_content
            include ../blocks/content/main-content
    main.main.main--second
      .container
        .content_wrap
          h2.main_title 
            | #{main_title[1]}
          .main_content
            include ../blocks/content/user-content

    include ../blocks/footer

  .overlay.popup.hide
    include ../blocks/popups/edit-header
    //- include ../blocks/popups/edit-profile

