extends ../_template

block title
  title Поиск

block variables
  -var title='Search'
  -var main_title='Исследуй мир'

block content
  .wrapper
    include ../blocks/header
    include ../blocks/content/main-content
    include ../blocks/footer