extends ../_template

block title
	title User

block variables
	-var title='User'
	-var main_title=['Альбомы']

block content
	.wrapper
		include ../blocks/header
		include ../blocks/content			
		include ../blocks/footer