extends ../_template

block title
	title User

block variables
	-var title='User'
	-var main_title='Альбомы'

block content
	.wrapper
		include ../blocks/header
		include ../blocks/main-content
		include ../blocks/footer