extends ../_template

block title
	title User

block variables
	-var title='User'
	-var main_title='Альбомы'

block content
	.wrapper
		include ../blocks/header

		main.main
			.container
				.content_wrap
					h2.main_title
						| #{main_title}
					.main_content
						include ../blocks/content/user-content
						
		include ../blocks/footer