form#editHeader-form.hide.popup
  
  .editHeader-form.container

    a.infoBlock_pic.edit-user
      button.btn.btn--upload
        svg.btn_icon
          use(xlink:href="assets/img/sprite.svg#cam")
        | Изменить фото
      img

    .form_content

      +input('input','text','user-name','user-name','Имя Фамилия','','')
      +input('textarea','text','user-text','user-text','О себе','','')
      
      .socials
        +socials

        .simple-form.hide.popup#editSocial-form
          +input('input','text','','','ссылка','','')
          .form_bottom
            +button('btn btn--bordered save','Сохранить','')
            +button('btn btn--transparent reset-btn','Отменить', '')
            

    
    button.btn.btn--upload.edit-user
      svg.btn_icon
          use(xlink:href="assets/img/sprite.svg#cam")
      | Изменить фон

  .form_bottom.container
    +link('btn btn--transparent editHeader-btn','Отменить','#', '')
    +button('btn btn--colored save','Сохранить', '')
